<div class="container">
  <h1 *ngIf="!featured">Raphael Gosteli</h1>

  <app-photo-grid [featured]="featured" title="Photos">
    <app-photo-card
      image="/assets/img/photos/raphael/1_edited.jpg"
      before="/assets/img/photos/raphael/1.jpg">

      <app-photo-details
        iso="100"
        focalLength="4.8"
        aperture="2.8"
        shutterSpeed="1/500">
      </app-photo-details>


      Durch die kleine Baumallee im Hintergrund habe ich auf diesem eine Art Spiegelung des Objekts im Hintergrund erreicht was als Gegengewicht zum Objekt dient. Der Betrachter hat durch die fast parallel laufenden Linien das Gefühl, dass das Objekt auf ihn zukommt. Durch die Bildbearbeitung könnte ich verloren Details wie beispielsweise das Glasdach wiederherstellen, was meiner Ansicht nach das Bild etwas harmonischer wirken lässt.
    </app-photo-card>
    <app-photo-card
      image="/assets/img/photos/raphael/2_edited.jpg"
      before="/assets/img/photos/raphael/2.jpg">
      <app-photo-details
        iso="100"
        focalLength="4.8"
        aperture="2.8"
        shutterSpeed="1/10000">
      </app-photo-details>

      In diesem Photo ist mir meiner Meinung nach eine Balance zwischen strikten geometrischen Formen wie dem Objekt und eher verspielten und kunstvollen Formen wie beispielsweise das Graffiti im Hintergrund gelungen. Das original Bild ist jedoch etwas überbelichtet weshalb ich in der Bildbearbeitung etwas sanftere und rötliche Farben verwendet habe. Dadurch wirkt das Bild wärmer und einladender und so verliert das markante Graffiti im Hintergrund etwas an Bedeutung.
    </app-photo-card>
    <app-photo-card
      image="/assets/img/photos/raphael/3_edited.jpg"
      before="/assets/img/photos/raphael/3.jpg">
      <app-photo-details
        iso="100"
        focalLength="4.8"
        aperture="2.8"
        shutterSpeed="1/250">
      </app-photo-details>

      Mit den beiden Absperrpfosten ist mir meiner Ansicht nach auf diesem Bild das Gegengeweicht zum Objekt gut gelungen. Das Objekt ist jedoch etwas weit rechts auf dem Bild und ist so schon fast ausserhalb des Frames. Durch das strake Sonnenlicht blendet der Schriftzug den Betrachter und lenkt so vom Objekt ab, weshalb ich in der Bildbearbeitung die Intensität vom Weiss reduziert habe. Durch diese Reduktion werden zusätzlich weitere Texturen auf dem Objekt selbst erkennbar und lässt dieses so etwas nahbarer und natürlicher wirken.
    </app-photo-card>
  </app-photo-grid>


  <ng-container *ngIf="!featured">
    <app-photo-grid title="Pirsch 1">

      <app-photo-card image="/assets/img/pirsch1/raphael/1.jpg" alt="Bild 1">
        Der Hydrant wird in einer unüblichen Perspektive und Kontrast zum Hintergrund gezeigt.
        Das Objekt wirkt auf dem Foto fremd und kalt.
      </app-photo-card>

      <app-photo-card image="/assets/img/pirsch1/raphael/2.jpg" alt="Bild 2">
        Auch dieses Foto zeigt eine eher seltene Perspektive eines Türgriffs.
        Das Objekt verschmilzt jedoch strak mit dem Hintergrund.
      </app-photo-card>


      <app-photo-card image="/assets/img/pirsch1/raphael/3.jpg" alt="Bild 3">
        Das Objekt ist gut ersichtlich und klar, dennoch ist das
        Bild aufgrund des wirren Hintergrunds nicht sehr harmonisch.
      </app-photo-card>
    </app-photo-grid>

    <app-photo-grid title="Pirsch 2">

      <app-photo-card image="/assets/img/pirsch2/raphael/1.jpg" alt="Bild 1">
        Mit diesem Foto habe ich versucht einen Baum als "Gegengeweicht" für
        eine eher kleine Konstruktion zu verwenden. Das Gegengewicht wird aber
        durch den hellen Hintergrund überbelendet und verliert dadurch die Wirkung.
      </app-photo-card>

      <app-photo-card image="/assets/img/pirsch2/raphael/2.jpg" alt="Bild 2">
        Auf diesem Foto bin ich mit den Farben sehr zufrieden, jedoch ist
        unklar welches Objekt im Fokus liegt und welches als Gegenstück dient.
        Für die Balance habe ich versucht einen Hintergrund zu finden,
        welcher die Farben des Objektes aufnimmt.
      </app-photo-card>


      <app-photo-card image="/assets/img/pirsch2/raphael/3.jpg" alt="Bild 3">
        In diesem Foto ist mir der verschwommene Hintergrund gut gelungen und
        das Objekt hebt sich vom Hintergrund ab. Die Balance zwischen dem Objekt
        und der Tafel – Grün zu Rot – ist aber nicht genügend gut ersichtlich.
      </app-photo-card>
    </app-photo-grid>

    <app-photo-grid title="Pirsch 3">

      <app-photo-card image="/assets/img/pirsch3/raphael/1.jpg" alt="Bild 1">
        Auf dem Photo gibt ist nicht genügend gut ersichtlich um welches Objekt es sich handelt. Problematisch ist auch
        die fehlende Hintergrundunschärfe welcher mir mit den Blendeneinstellung nicht gelungen ist.
      </app-photo-card>

      <app-photo-card image="/assets/img/pirsch3/raphael/2.jpg" alt="Bild 2">
        Der Hintergrund und die Positionierung ist mir auf diesem Bild nicht gelungen. Jedoch hat die gewählte
        Perspektive noch potential für
        die nächste Pirsch.
      </app-photo-card>


      <app-photo-card image="/assets/img/pirsch3/raphael/3.jpg" alt="Bild 3">
        Die Positionierung des Objektes ist mir auf diesem Bild gut gelungen, jedoch ist auch hier der Hintergrund nicht
        gelungen.
      </app-photo-card>
    </app-photo-grid>

    <app-portfolio-files name="raphael"></app-portfolio-files>
  </ng-container>
</div>

