<div class="details">

  <div class="icon-text" title="ISO">
    <mat-icon>iso</mat-icon>
    <span>{{iso}}</span>
  </div>

  <div class="icon-text" title="Focal length">
    <mat-icon>square_foot</mat-icon>
    <span>{{focalLength}}<span style="font-size: 12px">mm</span></span>
  </div>

  <div class="icon-text" title="Blende">
    <mat-icon>camera</mat-icon>
    <span><span style="font-style:italic;font-family:Trebuchet MS,Candara,Georgia,Calibri,Corbel,serif">f</span> / {{aperture}}</span>
  </div>

  <div class="icon-text" title="Verschlusszeit">
    <mat-icon>shutter_speed</mat-icon>
    <span>{{shutterSpeed}}<span style="font-size: 12px">SEC</span></span>
  </div>
</div>
