.details {
  display: grid;
  grid-template-columns: 1.4fr 2fr 2fr 2fr;
  align-content: space-between;
  place-items: center;
  margin-bottom: 16px;
  grid-gap: 4px;

  .icon-text {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr 5fr;

    span {
      line-height: 24px;
    }
  }
}
