<div>
  <div>
    <h1>Fotos</h1>

    <h2>Gion Rubitschung</h2>
    <div style="margin-bottom: 6em">
      <app-portfolio-gion [featured]="true"></app-portfolio-gion>
    </div>

    <h2>Noah Schönthal</h2>
    <div style="margin-bottom: 6em">
      <app-portfolio-noah [featured]="true"></app-portfolio-noah>
    </div>

    <h2>Tobias Zaugg</h2>
    <div style="margin-bottom: 6em">
      <app-portfolio-tobias [featured]="true"></app-portfolio-tobias>
    </div>

    <h2>Raphael Gosteli</h2>
    <div style="margin-bottom: 6em">
      <app-portfolio-raphael [featured]="true"></app-portfolio-raphael>
    </div>
  </div>

  <div>
    <h1>Filme</h1>

    <div class="container-fluid">
      <div class="row row-gap">
        <div class="col-sm">
          <h2>Film: Der Logarithmus</h2>
          <iframe width="480" height="270" src="https://www.youtube-nocookie.com/embed/Er2RHDMxSiw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p class="text-muted" style="max-width: 480px;">Im Film «Der Logarithmus» stürzt die Hauptfigur Max und verliert für einen Bruchteil einer Sekunde sein Bewusstsein. In dieser Sekunde kann Max einen kurzen Blick in die Zukunft erhaschen. Kurz darauf reisst es ihn wieder zurück in die Realität und im Gegensatz zum Ausblick, wendet sich nun die Zukunft positiv für ihn.</p>
          <a style="display: block" routerLink="/portfolio" fragment="drehbuch">Drehbuch anzeigen →</a>
        </div>
        <div class="col-sm">
          <h2>Livestream: ISS Earth Viewing Project</h2>
          <iframe width="480" height="270" src="https://www.ustream.tv/embed/17074538?html5ui=1&autoplay=true" scrolling="no" allowfullscreen
                  webkitallowfullscreen frameborder="0" style="border: 0 none transparent;"></iframe>
          <p class="text-muted" style="max-width: 480px;">Das High Definition Earth-Viewing Project (HDEV) überträgt seit dem 30. April 2014 durchgehend Bilder von einer HD-Videokamera, welche aussen an der Internationalen Raumstation ISS angebracht wurde. Ist die ISS auf der von der Sonne abgewandte Seite bleibt das Bild aufgrund des fehlenden Lichts dunkel, ansonsten haben wir einen spektakulären Blick auf die Erde.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="height: 80px"></div>
