<div class="container">
  <h1 *ngIf="!featured">Tobias Zaugg</h1>

  <app-photo-grid [featured]="featured" title="Photos">
    <app-photo-card
      image="/assets/img/photos/tobias/1_edited.jpg"
      before="/assets/img/photos/tobias/1.jpg"
    >
      <app-photo-details
        iso="80"
        focalLength="10.4"
        aperture="8.0"
        shutterSpeed="1/100"
      >
      </app-photo-details>

      Auf diesem Foto ist es mir gut gelungen, ein Gegengewicht zum Objekt zu
      haben. Obwohl der Busch im Hintergrund viel grösser ist als das Objekt,
      scheint er im Bild kaum grösser. Die Textur auf dem Objekt ist auch sehr
      klar sichtbar. Was mir hier weniger gefällt, sind die Fahrräder, die im
      Hintergrund noch sichtbar sind und ein wenig beunruhigend wirken. Mit der
      Bearbeitung konnte ich das Foto aber wieder ein wenig wärmer und ruhiger
      machen.
    </app-photo-card>
    <app-photo-card
      image="/assets/img/photos/tobias/2_edited.jpg"
      before="/assets/img/photos/tobias/2.jpg"
    >
      <app-photo-details
        iso="80"
        focalLength="9.5"
        aperture="3.9"
        shutterSpeed="1/100"
      >
      </app-photo-details>

      Dieses Foto gefällt mir besonders gut, weil es dasselbe Objekt im
      Vordergrund auch als Gegengewicht unscharf im Hintergrund abgebildet ist
      und weil ich die Textur des Objekts besonders gut hervorheben konnte. Auch
      die Positionierung des Objekts ist mir sehr gut gelungen. Leider konnte
      ich den hellen Streifen im Hintergrund nicht gross verbessern, da sonst
      auch der Vordergrund stark verändert wurde.
    </app-photo-card>
    <app-photo-card
      image="/assets/img/photos/tobias/3_edited.jpg"
      before="/assets/img/photos/tobias/3.jpg"
    >
      <app-photo-details
        iso="80"
        focalLength="11.3"
        aperture="4.2"
        shutterSpeed="1/640"
      >
      </app-photo-details>

      Hier habe ich mit der Bearbeitung die grösste Veränderung vorgenommen und
      die Intensivität der Farben absichtlich stark erhöht, was mir gut gefällt.
      Auch hier habe ich die Textur des Objekts hervorgehoben. Die
      "unordentlichen" Äste des Baums im Hintergrund dienen als gutes
      Gegengewicht zum runden Türknauf.
    </app-photo-card>
  </app-photo-grid>

  <ng-container *ngIf="!featured">
    <app-photo-grid title="Pirsch 1">
      <app-photo-card image="/assets/img/pirsch1/tobias/1.jpg" alt="Bild 1">
        Hier habe ich die Beschreibung eines Baums fotografiert, die man
        normalerweise kaum lesen kann. Leider ist das Bild etwas unscharf
        geworden. Das Objekt ist zwar klar erkennbar, doch da es eine
        zweidimensionale Fläche ist, ist es nicht ganz so interessant zum
        anschauen.
      </app-photo-card>

      <app-photo-card image="/assets/img/pirsch1/tobias/2.jpg" alt="Bild 2">
        Dieses Windmessgerät ist weit oben angebracht und wurde bei sehr
        speziellen Lichtverhältnissen fotografiert. Die Farben schauen somit
        fast grau aus.
      </app-photo-card>

      <app-photo-card image="/assets/img/pirsch1/tobias/3.jpg" alt="Bild 3">
        Diese Lampe ist sehr speziell, da die Glühbirne einfach so an der Wand
        angebracht wurde. Das Objekt nimmt hier den grössten Teil des Bildes
        ein.
      </app-photo-card>
    </app-photo-grid>

    <app-photo-grid title="Pirsch 2">
      <app-photo-card image="/assets/img/pirsch2/tobias/1.jpg" alt="Bild 1">
        Hier habe ein sehr kleines Objekt sehr gross dargestellt. Es ist ganz
        links im Bild, doch als Gegengewicht habe ich den grossen Turm im
        Hintergrund, der noch knapp erkennbar ist.
      </app-photo-card>

      <app-photo-card image="/assets/img/pirsch2/tobias/2.jpg" alt="Bild 2">
        Hier habe ich ein Metallstück im Zaun fotografiert, auch wieder ganz auf
        der linken Seite. Als Gegengewicht habe ich hier zwei Bäume, die aber
        fast nur noch als weisse Striche zu erkennen sind. Es ist aber ein
        bisschen schwierig für das Auge, wenn es dem Muster des Zauns folgt, das
        immer unschärfer wird.
      </app-photo-card>

      <app-photo-card image="/assets/img/pirsch2/tobias/3.jpg" alt="Bild 3">
        Das Objekt sieht hier sehr viel grösser aus, als es tatsächlich ist, man
        könnte es fast mit einem grossen Turm verwechseln. Leider ist das
        Gegengewicht, die "Infosäule", hier im Hintergrund zu klein.
      </app-photo-card>
    </app-photo-grid>

    <app-photo-grid title="Pirsch 3">
      <app-photo-card image="/assets/img/pirsch3/tobias/1.jpg" alt="Bild 1">
        Das ist eigentlich ein spannendes Objkt, da dahinter noch einmal genau
        dasselbe "x" ist, doch leider ist der gesamte Hintergrund auch scharf.
        Ausserdem ist das Objekt leider in der Mitte des Bildes.
      </app-photo-card>

      <app-photo-card image="/assets/img/pirsch3/tobias/2.jpg" alt="Bild 2">
        Auch hier ist der Hintergrund leider nicht unscharf geworden und das
        Objekt ist fast in der Mitte. Ansonsten ist es aber recht gut gekommen
        und hätte mit dem Baum auch ein Gegengewicht.
      </app-photo-card>

      <app-photo-card image="/assets/img/pirsch3/tobias/3.jpg" alt="Bild 3">
        Hier ist es mir ein bisschen besser gelungen, den Hintergrund unscharf
        zu bekommen. Doch auch hier ist das Objekt in der Mitte. Wenn es ein
        bisschen verschoben gewesen wäre, wäre der Busch im Hintergrund aber ein
        gutes Gegengewicht.
      </app-photo-card>
    </app-photo-grid>

    <app-portfolio-files name="tobias"></app-portfolio-files>
  </ng-container>
</div>
