<div class="container app-container">
  <div>
    <h1>Portfolios</h1>

    <div class="container-fluid">
      <div class="row row-gap">
        <div class="col-sm">
          <app-portfolio-overview-card image="assets/img/photos/gion/1_edited.jpg" name="Gion Rubitschung"
                                       route="gion">
          </app-portfolio-overview-card>
        </div>
        <div class="col-sm">
          <app-portfolio-overview-card image="assets/img/photos/noah/1_edited.jpg" name="Noah Schönthal"
                                       route="noah">
          </app-portfolio-overview-card>
        </div>
        <div class="col-sm">
          <app-portfolio-overview-card image="assets/img/photos/tobias/2_edited.jpg" name="Tobias Zaugg"
                                       route="tobias">
          </app-portfolio-overview-card>
        </div>
        <div class="col-sm">
          <app-portfolio-overview-card image="assets/img/photos/raphael/1_edited.jpg" name="Raphael Gosteli"
                                       route="raphael">
          </app-portfolio-overview-card>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-top: 4em; margin-bottom: 4em;">
    <h1 id="drehbuch">Drehbuch</h1>
    <div>
      <object
        data="/assets/doc/Der Logarithmus.pdf"
        type="application/pdf"
        width="100%"
        height="840px">
        <p>Your browser does not support PDFs.
          <a href="/assets/doc/Der%20Logarithmus.pdf">Download PDF</a>.</p>
      </object>
    </div>
  </div>
</div>
