/* You can add global styles to this file, and also import other style files */
$material-icons-font-path: '~material-icons/iconfont/';

@import '~material-icons/css/material-icons';

*, html {
  font-family: "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
}

